<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">App Studio</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/#/appstudio/">Home</a></li>
                <li><a href="/#/terminal/">Terminal</a></li>
                <li ng-show="loggedIn()"><a href="/logout/">Logout [{{userName}}]</a></li>
                <li ng-show="!loggedIn()"><a href="/login.html">Login</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container theme-showcase" role="main" ng-init="init()">
    <error-banner></error-banner>

    <div>
        <label ng-bind="getCurrentApplicationTitle()"></label>
        <button ng-show="isAppOpened()" ng-click="closeApp()" class="btn btn-danger btn-xs">Close App</button>
        <button ng-show="isAppOpened()" ng-click="loadAppItemsForSelectedApp()" class="btn btn-success btn-xs">Refresh</button>
    </div>

    <div ng-hide="isAppOpened()">
        <div ng-show="!loggedIn()">
            <p>You should login (as admin) to install an application.</p>
        </div>

        <div ng-show="loggedIn()">
            <h2>Install application</h2>

            <form enctype="multipart/form-data" method="POST" action="/application/install/">
                Application package: <input name="application" type="file"/><br/>
                <input class="btn btn-primary" type="submit" value="       Install Application      "/>
            </form>
        </div>

        <h2>Applications</h2>

        <div id="app">
            <table class="table">
                <tr ng-repeat="capp in applications">
                    <td>
                        {{capp.title}}
                    </td>
                    <td>
                        <a ng-href="#/appstudio/app/cosmosapp/{{capp._id}}" class="btn btn-primary btn-sm">Settings</a>
                    </td>
                    <td>
                        <a ng-href="/application/package/{{capp.id}}" class="btn btn-warning btn-sm">Export App</a>
                    </td>
                    <td>
                        <a href="/#/a/{{capp.path}}/" class="btn btn-info btn-sm">Browse App</a>
                    </td>
                    <td>
                        <button ng-click="openApp(capp)" class="btn btn-success btn-sm">Open App</button>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <a ng-href="#/appstudio/app/cosmosapp" class="btn btn-primary">Create Application</a>
        </div>

    </div>

    <div ng-show="isAppOpened()">

        <tabset>
            <tab heading="Pages">
                <div id="pages">
                    <table class="table">
                        <tr>
                            <td>Control</td>
                            <td>View</td>
                        </tr>
                        <tr ng-repeat="page in selectedApplication.pages">
                            <td>
                                <a ng-href="#/appstudio/page/{{selectedApplication.path}}/{{page._id}}">[Edit {{page.title}}]</a>
                            </td>
                            <td>
                                <a ng-href="#/a/{{selectedApplication.path}}/page/{{page._id}}">[View {{page.title}}]</a>
                            </td>
                        </tr>
                    </table>
                    <a ng-href="#/appstudio/page/{{selectedApplication.path}}/" class="btn btn-primary">Create page</a>
                </div>
            </tab>
            <tab heading="Forms">
                <div id="forms">
                    <table class="table">
                        <tr ng-repeat="form in selectedApplication.forms">
                            <td>
                                <a ng-href="#/appstudio/form/{{selectedApplication.path}}/{{form._id}}">[{{form.title}}]</a>
                            </td>
                        </tr>
                    </table>
                    <a ng-href="#/appstudio/form/{{selectedApplication.path}}/" class="btn btn-primary">Create form</a>
                </div>
            </tab>
            <tab heading="Lists">
                <div id="lists">
                    <table class="table">
                        <tr ng-repeat="list in selectedApplication.lists">
                            <td>
                                <a ng-href="#/appstudio/list/{{selectedApplication.path}}/{{list._id}}">[{{list.title}}]</a>
                            </td>
                        </tr>
                    </table>
                    <a ng-href="#/appstudio/list/{{selectedApplication.path}}/" class="btn btn-primary">Create List</a>
                </div>
            </tab>
            <tab heading="Charts">
                <div ng-if="false" id="charts">
                    <table class="table">
                        <tr ng-repeat="chart in selectedApplication.charts">
                            <td>
                                <a ng-href="#/appstudio/chart/{{selectedApplication.path}}/{{chart._id}}">[{{chart.title}}]</a>
                            </td>
                        </tr>
                    </table>
                    <a ng-href="#/appstudio/chart/{{selectedApplication.path}}/" class="btn btn-primary">Create Chart</a>
                </div>
            </tab>
            <tab heading="Item Views">
                <div id="singleitemviews">
                    <table class="table">
                        <tr ng-repeat="siv in selectedApplication.singleitemviews">
                            <td>
                                <a ng-href="#/appstudio/singleitemview/{{selectedApplication.path}}/{{siv._id}}">[{{siv.objectName}}]</a>
                            </td>
                        </tr>
                    </table>
                    <a ng-href="#/appstudio/singleitemview/{{selectedApplication.path}}/" class="btn btn-primary">Create Item View</a>
                </div>
            </tab>
            <tab heading="Widgets">
                <div id="widgets">
                    <table class="table">
                        <tr ng-repeat="widget in selectedApplication.widgets">
                            <td>
                                <a ng-href="#/appstudio/widget/{{selectedApplication.path}}/{{widget._id}}">[{{widget.name}}]</a>
                            </td>
                        </tr>
                    </table>
                    <a ng-href="#/appstudio/widget/{{selectedApplication.path}}/" class="btn btn-primary">Create widget</a>
                </div>
            </tab>
            <tab heading="Menus">
                <div id="menus">
                    <table class="table">
                        <tr ng-repeat="menu in selectedApplication.menus">
                            <td>
                                <a ng-href="#/appstudio/menu/{{selectedApplication.path}}/{{menu._id}}">[{{menu.brandtitle}}]</a>
                            </td>
                        </tr>
                    </table>
                    <a ng-href="#/appstudio/menu/{{selectedApplication.path}}/" class="btn btn-primary">Create menu</a>
                </div>
            </tab>
        </tabset>
    </div>
</div>