<style>
    ul {
        list-style: none;
    }
    .composite {
        margin-left: 24px;
    }
</style>

<script type="text/ng-template"  id="text-field.html">
    <label>{{field.title}}</label>
    <input ng-class="field.className" type = "text" name="{{field.model}}" ng-model="currentData[field.model]" />
</script>

<script type="text/ng-template"  id="textarea-field.html">
    <label>{{field.title}}</label>
    <textarea ng-class="field.className" name="{{field.model}}" ng-model="currentData[field.model]"></textarea>
</script>

<script type="text/ng-template"  id="checkbox-field.html">
    <input type="checkbox" ng-class="field.className" name="{{field.model}}" ng-model="currentData[field.model]">
    <label class="control-label">{{field.title}}</label>
</script>

<script type="text/ng-template"  id="radiogroup-field.html">
    <label class="control-label">{{field.title}}</label>
    <div class="composite" ng-repeat="choice in field.options.choices">
        <input type="radio" ng-class="field.className" name="{{field.model}}" ng-value="choice.value"
               ng-model="currentData[field.model]">
        <label class="control-label">{{choice.title}}</label>
    </div>
</script>

<script type="text/ng-template"  id="select-field.html">
    <label class="control-label">{{field.title}}</label>
    <select ng-class="field.className" name="{{field.model}}" ng-model="currentData[field.model]">
        <option ng-if="field.nullable === true" ng-value=""> --- Select ---</option>
        <option ng-value="option.value" ng-repeat="choice in field.options.choices">{{choice.title}}</option>
    </select>
</script>

<script type="text/ng-template"  id="lookup-field.html">
    <label class="control-label">{{field.title}}</label>
    <select ng-class="field.className" ng-model="fieldOptions['lookup.'+field.model]"
            ng-options="lookup.lookupname for lookup in field.options.lookups"
            ng-change="updateOptions(field, lookup)">
    </select>

    <select ng-class="field.className" name="{{field.model}}">
        <option ng-value="option['_id']" ng-repeat="option in field.optionData">{{option["username"]}}</option>
    </select>
</script>

<script type="text/ng-template"  id="composite-fields.html">
    <div ng-if="field.type != 'composite'">
        <div ng-include="field.type+'-field.html'"></div>
    </div>
    <div ng-if="field.type === 'composite'">
        <label class="control-label">{{field.title}}</label>
        <div class="composite" ng-repeat="field in field.fields" ng-include="'composite-fields.html'"></div>
    </div>
</script>

<form role="form" id="{{form._id}}">
    <div>
        <label>{{form.title}}</label>
    </div>
    <div class="composite">
        <div ng-repeat="field in form.fields" ng-include="'composite-fields.html'"></div>
    </div>
    <button class="btn btn-primary" ng-click="onSubmit()">Submit</button>
</form>

