<style>
.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.apps-container {
  border: 2px solid darkgrey;
  margin: 10px 10px 0 0;
  padding: 5px;

}
.connected-apps-container{
    width: 600px;
    min-height: 64px;
}
.app {
	width: 250px;
	padding: 5px 10px;
	margin: 5px 0;
	cursor: move;
    border: 1px;
    border:1px solid;
}
.form {
	width: 99%;
	padding: 5px 10px;
	margin: 5px 0;
	cursor: move;
    border: 1px;
}

.properties {
	margin-top: 10px;
	width: 250px;
	min-height: 300px;
	padding: 5px 15px;
	border: 2px solid darkgrey;
}


.logItem {
  margin-bottom: 10px;
}

.logList:before {
	content: 'log';
	padding: 0 5px;
	position: relative;
	top: -1.1em;
	background-color: #FFF;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

.beingDragged {
    height: 24px;
    margin-bottom: .5em !important;
    border: 2px dotted #ccc !important;
    background: none !important;
}

</style>

<script type="text/ng-template"  id="text-field.html">
    <div ng-click="selectItem(field); $event.stopPropagation();">
        <label>{{field.title}}</label>
        <input ng-class="field.className" type = "text" name="{{field.model}}" />
    </div>
</script>

<script type="text/ng-template"  id="textarea-field.html">
    <div ng-click="selectItem(field);">
        <label>{{field.title}}</label>
        <textarea ng-class="field.className" name="{{field.model}}"></textarea>
    </div>
</script>

<script type="text/ng-template"  id="checkbox-field.html">
    <div ng-click="selectItem(field); $event.stopPropagation();">
        <input type="checkbox" ng-class="field.className" name="{{field.model}}" >
        <label class="control-label">{{field.title}}</label>
    </div>
</script>

<script type="text/ng-template"  id="radiogroup-field.html">
    <div ng-click="selectItem(field); $event.stopPropagation();">
        <label class="control-label">{{field.title}}</label>
        <div class="composite" ng-repeat="option in field.options">
            <input type="radio" ng-class="field.className" name="{{field.model}}" ng-value="option.value">
            <label class="control-label">{{option.title}}</label>
        </div>
    </div>
</script>

<script type="text/ng-template"  id="select-field.html">
    <div ng-click="selectItem(field); $event.stopPropagation();">
        <label class="control-label">{{field.title}}</label>
        <select ng-class="field.className" name="{{field.model}}">
            <option ng-if="field.nullable === true" ng-value=""> --- Select ---</option>
            <option ng-value="option.value" ng-repeat="option in field.options">{{option.title}}</option>
        </select>
    </div>
</script>

<script type="text/ng-template"  id="lookup-field.html">
    <div ng-click="selectItem(field); $event.stopPropagation();">
        <label class="control-label">{{field.title}}</label>
        <select ng-class="field.className" ng-model="fieldOptions['lookup.'+field.model]"
                ng-options="lookup.lookupname for lookup in field.options.lookups"
                ng-change="updateOptions(field, lookup)">
        </select>
        <select ng-class="field.className" name="{{field.model}}">
            <option ng-value="option['_id']" ng-repeat="option in field.optionData">{{option["username"]}}</option>
        </select>
    </div>
</script>

<script type="text/ng-template"  id="composite-field.html">
    <div  ng-click="selectItem(field); $event.stopPropagation();">
        <label class="control-label">{{field.title}}</label>
        <div ui-sortable="sortableOptions" class="apps-container connected-apps-container" ng-model="field.selectedScreens">
            <div class="form" ng-repeat="field in field.selectedScreens track by $index">
              <gen-dynamic-directive ng-model="field" gen-get-dynamic-view="getView">
              </gen-dynamic-directive>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template"  id="item.html">
    <div ng-include="field.type+'-field.html'"></div>
</script>

<div ng-show="hasError" class="bg-warning">
    <button class="btn btn-xs btn-danger glyphicon glyphicon-remove pull-right" ng-click="clearError();"></button>
    <div><label>Error code:</label><span ng-bind="status" /></div>
    <div ng-bind="status_data"></div>
</div>

<div>
  <div class="floatleft">
    <div class="floatleft">
      <div ui-sortable="sortableOptions" class="apps-container screen floatleft first" ng-model="sourceScreens">
        <div class="app" ng-class="field.type" ng-repeat="field in sourceScreens track by $index">{{field.title}}</div>
      </div>
    </div>
    <div class="floatleft">
      <div ui-sortable="sortableOptions" class="apps-container connected-apps-container screen floatleft" ng-model="selectedScreens">
        <div class="form" ng-repeat="field in selectedScreens track by $index">
          <gen-dynamic-directive ng-model="field" gen-get-dynamic-view="getView">
          </gen-dynamic-directive>
        </div>

      </div>
    </div>
    <div style="clear: both;"></div>
</div>

  <div class="floatright">
      <button class="btn btn-success" ng-click="save()">Save</button>
    <div class="properties">
        <span ng-bind="selectedItem.title"></span>
    </div>
  </div>

  <div class="clear"></div>
</div>
