<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <style>
        html,
        body {
            height: 100%;
        }

        html {
            margin: auto;
        }


        .loginicon{
            height:32px;
            width:32px;
        }
    </style>
</head>
<body ng-app="setupApp" ng-cloak>
    <form action="." method="POST">
        <md-content class="md-padding" layout-xs="column" layout="row">
            <div layout="column">
                <md-card>
                    <md-card-content>
                        {% if message %}
                        <span>{{message}}</span>
                        {% end %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <md-input-container class="md-block">
                            <label>Username</label>
                            <input required id="username" type="text" name="username"/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input required type="password" id="password" name="password"/>
                        </md-input-container>
                    </md-card-content>
                    <button type="submit" name="command" value="new-admin" class="md-button md-raised md-primary">Create new admin</button>
                </md-card>
            </div>
        </md-content>
    </form>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
        angular.module('setupApp', ['ngMaterial']);
    </script>
</body>
</html>
